<!DOCTYPE html>
<html ng-app='data-pet'>
<head>
  <title>DataPet</title>

  <!-- css files -->
  <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap/bootstrap.min.css'/>
  <link rel='stylesheet' type='text/css' href='/stylesheets/jquery.ui.all.css'/>
  <link rel='stylesheet' type='text/css' href='/stylesheets/base.css'/>

  <!-- angular js -->
  <script src='/javascripts/angular/angular.min.js'></script>
  <script>var app = angular.module('data-pet', ['ui.bootstrap', 'ui.codemirror']);</script>

  <!-- jQuery -->
  <script src='/javascripts/jquery/jquery-2.0.3.min.js'></script>
  <script src='/javascripts/jquery/jquery-ui.js'></script>

  <!-- bootstrap -->
  <script src='/javascripts/bootstrap/bootstrap.min.js'></script>

  <script src='/javascripts/bootstrap/ui-bootstrap.min.js'></script>
  <script src='/javascripts/bootstrap/ui-bootstrap-tpls.min.js'></script>



  <!-- floatTHead used for sticky table headers -->
  <script type="text/javascript" src="/javascripts/jquery/floatTHead.js"></script>

  <!-- code mirror used for JSON editing -->
  <link rel="stylesheet" type="text/css" href="/bower_components/codemirror/lib/codemirror.css">
  <script type="text/javascript" src="/bower_components/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>


  <!-- noticesController used to display messages to the user -->
  <script src='/javascripts/controllers/notices.js'></script>

  <%= csrf_meta_tags %>
</head>

<body>

<div class='container-liquid'>

  <nav id='top_navigation_bar' class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>DataPet</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top_navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connections <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a <%= target_blank? %> href='<%= connections_path %>'>All</a></li>
            <li><a <%= target_blank? %> href='<%= new_connection_path %>'>New</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relations <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a <%= target_blank? %> href='<%= relations_path %>'>All</a></li>
            <li><a <%= target_blank? %> href='<%= new_relation_path %>'>New</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id='main' class='container-liquid'>
    <%= yield %>
  </div>

</div>

<!-- notices -->
<div ng-controller='noticesController'>
  <div ng-repeat='notice in notices' ng-click='removeNotice(notice.id)' class='alert alert-custom {{notice.class}}' style='top:{{notice.top}}px'>
    {{notice.text}}
  </div>
</div>

</body>
</html>